<!DOCTYPE html>
<html>
<head>
  <title>Juxtagraph &mdash; {{description}}</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">   
   <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' /> <!-- Disables zoom -->
  <meta name="description" content="An educational website and tool about cultivating the art of serendipity.">
  <meta name="keywords" content="Serendipity,Aiden,Zucker,Pagan,Kennedy,WUSTL,Capstone,Project">
  <meta name="author" content="Aiden Zucker">

  <!-- For large image thumbnail on Twitter via https://dev.twitter.com/cards/types/summary-large-image -->
  <meta name="twitter:card" content="Juxtagraph">
  <meta name="twitter:site" content="@juxtagraph">
  <meta name="twitter:creator" content="@aidenzucker">
  <meta name="twitter:title" content="Juxtagraph">
  <meta name="twitter:description" content={{description}}>
  <meta name="twitter:image" content={{imageURL}}>

  <link href='https://fonts.googleapis.com/css?family=Lora:700' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
  
  <header class="StickyMenu">
      <nav class="TopNav" id="top-nav-detail-page">
        <a href="/index.html" id="logo">S</a>
        <a href="/learn.html">Learn</a>
        <a href="/juxtagraph.html" id="underline">Juxtagraph</a>
      </nav>

      <table class="GalleryNav">
        <td>
           <a href="#">
            <div class="closeup-arrow">
              <a href={{prevURL}}><img src="/img/buttons/gallery-left.png" alt="left"></a>
            </div>
           </a>
        </td>
        <td>
          <a href="/gallery.html">
            <div class="TableLink">
              <img src="/img/buttons/gallery.png" alt="gallery">
            </div>
          </a>
        </td>
        <td>
          <a href="#">
            <div class="closeup-arrow">
              <a href={{nextURL}}><img src="/img/buttons/gallery-right.png" alt="right"></a>
            </div>
          </a>
        </td>
      </table>

  </header>

  <div class="centered-wrapper">
    <div class="closeup-image-wrapper">
      <img src={{imageURL}}>
    </div>
  </div>

  <div class="closeup-info-panel">
    <div class="caption">
      {{description}}
    </div>

    <div class="share-panel">
      Share
      <a href="http://www.facebook.com/share.php?u=serendipity.how" target="_blank"> <img src="/img/buttons/fb.png"></a>

      <a href={{tweet}} target="_blank"> <img src="/img/buttons/twitter.png"></a>

      <a download="my-juxtagraph.jpg" href={{imageURL}} target="_blank" title="my-juxtagraphz"> <img src="/img/buttons/download.png"></a>
    </div>
  </div>

</body>

  <!-- Needed on every page: -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
</html>
